$black: #022752;
$ten: 10px;
$twenty: 20px;
$thirty: 30px;
$fourty: 40px;
$fifty: 50px;
$sixty: 60px;
$seventy: 70px;
$eighty: 80px;
$ninety: 90px;
$hundred: 100px;
$hp: 100%;
$lg: #ebebeb;
$blue: #115098;
$slateblue: #142f90;
$blue2: #022752;